.homepage {

    .landing-section {
        height: calc(170vh - 140px);
        background: #D3CCE3;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E9E4F0, #D3CCE3);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: linear-gradient(to right, rgba(#E9E4F0, 0.3), rgba(#D3CCE3, 0.7)),
            url("../../Assets/images/background2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 70px 5vh;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: #1C3879;

        .college-logo {
            width: 300px;
            position: absolute;
            top: 45px;
            left: 10px;

            img {
                width: 100%;
            }
        }

        .content {
            width: 90%;

            .heading-logo-container {
                width: 300px;
                margin: auto;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .heading-primary {
                .small {
                    font-size: 28px;
                }

                .orange {
                    -webkit-text-stroke-width: 2px;
                }

                p {
                    font-size: 24px;
                }
            }

            .orange-only {
                // -webkit-text-stroke-width: 3px;
                // -webkit-text-stroke-color: #f1955f;
                font-size: 26px;
                margin: 30px auto;
            }

            .details-important {
                position: absolute;
                bottom: 20px;
                right: 2px;
                display: flex;
                flex-direction: column;
                font-size: 16px;
                font-weight: 400;
                width: 350px;
                
                .complaint{
                    margin: 0;
                }
                .usb{
                    margin-top: 10px;
                }
            }

            .details {
                position: absolute;
                bottom: 10px;
                left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-size: 20px;
                font-weight: 400;
                width: 400px;

                .detail {
                    display: flex;
                    align-items: center;

                    &:not(last-child) {
                        margin-bottom: 20px;
                    }

                    a {
                        color: #1C3879;
                        cursor: pointer;
                    }

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                .btn {
                    outline: none;
                    width: 25%;
                    border: 1px solid #1C3879;
                    text-align: center;
                    // color: #E9E4F0;
                    // background: #1C3879;
                    text-decoration: none;
                    font-size: 20px;
                    padding: 10px 15px;
                    margin-right: 10px;
                    margin-top: 10px;
                    font-family: 'Roboto Slab', serif;
                    transition: all 0.2s;
                    cursor: pointer;

                    &:not(:last-child) {
                        border-right: none;
                    }

                    // &:hover {
                    //     background: transparent;
                    //     color: #1C3879;
                    // }
                }
                .btn-web{
                    outline: none;
                    width: 25%;
                    border: 1px solid #1C3879;
                    text-align: center;
                    color: #E9E4F0;
                    background: #1C3879;
                    text-decoration: none;
                    font-size: 20px;
                    padding: 10px 15px;
                    margin-right: 10px;
                    margin-top: 10px;
                    font-family: 'Roboto Slab', serif;
                    transition: all 0.2s;
                    cursor: pointer;

                    &:not(:last-child) {
                        border-right: none;
                    }

                    &:hover {
                        background: transparent;
                        color: #1C3879;
                    }
                }
            }

            .event-handlers {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 25px auto;
                width: 100%;

                .detail{
                    p{
                        margin-top: 0;
                        font-size: 18px;
                    }
                }

                .handler {
                    .logo-container {
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        img {
                            width: 100%;
                            margin-left: 20px;
                            object-fit: contain;
                        }
                    }
                }

                .ieee-details {
                    p{
                        margin-top: 20px;
                    }
                    .logo-container {
                        width: 150px;
                    }
                }

                .clg-details {
                    .logo-container {
                        width: 150px;
                    }
                }

                .other-details {
                    text-align: center;
                    font-size: 16px;
                    display: flex;
                    flex-direction: column-reverse;

                    .ids {
                        margin: 15px auto;
                    }

                    // .prev-ieee{
                    //     font-size: 22px;
                    //     margin-bottom: 30px;
                    // }

                    a {
                        text-decoration: none;
                        color: #1C3879;
                        cursor: pointer;

                        &:hover {
                            color: #607EAA;
                        }
                    }
                }
            }
        }

        .dates-part {
            position: absolute;
            top: 80px;
            right: 10px;
            text-align: right;

            .date-container {
                margin-bottom: 20px;
                border-right: 3px solid #1C3879;
                padding: 0 15px;

                .date-heading {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }

    .countdown-section {
        padding: 70px 20%;
        background: #1C3879;

        .heading-secondary {
            color: #E9E4F0;
            border: none;
            width: 100%;
        }

        .timer-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .time {
                background: rgba(#E9E4F0, 0.8);
                color: #1C3879;
                font-size: 36px;
                border-radius: 2px;
                padding: 20px 30px;
                margin: 20px;
                min-width: 50px;
                text-align: center;
            }

            .seperator {
                color: rgba(#E9E4F0, 0.8);
                font-size: 36px;
            }
        }

    }

    .about-us-section {
        min-height: 100vh;
        background: #D3CCE3;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #e0dbe1, #ded9df, #dfdae1, #dcd6e0, #ded8e2, #dad4e0, #d9d3e1, #d5d1df, #d5cede);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #e0dbe1, #ded9df, #dfdae1, #dcd6e0, #ded8e2, #dad4e0, #d9d3e1, #d5d1df, #d5cede);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: linear-gradient(to right, #e0dbe1, #ded9df, #dfdae1, #dcd6e0, #ded8e2, #dad4e0, #d9d3e1, #d5d1df, #d5cede);
        padding: 70px 0;

        .content {
            width: 80%;
            margin: auto;

            .img-container {
                width: 500px;
                margin: 30px auto;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }


    }

    @media (min-width: 1440px){
        .landing-section{
            height: calc(130vh - 140px);
        }
    }

    @media (min-width: 401px) and (max-width: 600px) {
        .dates-part {
            display: none;
        }

        .landing-section {
            height: calc(270vh - 140px);

            .college-logo {
                width: 275px;
            }

            .content {
                .heading-primary {
                    font-size: 26px;
                    font-weight: 900;
                }

                .heading-logo-container {
                    width: 250px;
                    margin-top: 0px;
                }

                .buttons {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    .btn {
                        width: 175px;
                        padding: 10px 0 10px 0;
                    }
                    .btn-web{
                        width: 175px;
                        padding: 10px 0 10px 0;
                    }
                }

                .event-handlers{
                    .handler{
                        .logo-container{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            img{
                                margin-top: 20px;
                            }
                        }
                    }
                }

                .details {
                    display: none;
                }
                .details-important{
                    width: 310px;
                }
            }
        }

        .countdown-section {
            overflow-x: scroll;

            .timer-container {
                .time {
                    padding: 5px;
                    margin: 15px;
                }
            }
        }

        .about-us-section {
            .img-container {
                width: 80% !important;
            }
        }
    }

    @media screen and (max-width: 400px) {
        .dates-part {
            display: none;
        }

        .landing-section {
            height: calc(300vh - 140px);

            .college-logo {
                width: 275px;
            }

            .content {
                .heading-primary {
                    font-size: 26px;
                    font-weight: 900;
                }

                .heading-logo-container {
                    width: 250px;
                    margin-top: 0px;
                }

                .buttons {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    .btn {
                        width: 175px;
                        padding: 10px 0 10px 0;
                    }
                    .btn-web{
                        width: 175px;
                        padding: 10px 0 10px 0;
                    }
                }

                .event-handlers{
                    .handler{
                        .logo-container{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            img{
                                margin-top: 20px;
                            }
                        }
                    }
                }

                .details {
                    display: none;
                }
                .details-important{
                    width: 310px;
                }
            }
        }

        .countdown-section {
            overflow-x: scroll;

            .timer-container {
                .time {
                    padding: 5px;
                    margin: 15px;
                }
            }
        }

        .about-us-section {
            .img-container {
                width: 80% !important;
            }
        }
    }

    @media (min-width: 601px) and (max-width: 1000px) {
        .landing-section {
            height: calc(220vh - 140px);

            .college-logo {
                width: 400px;
            }

            .content {
                margin-top: 20px;

                .heading-logo-container {
                    width: 400px;
                    margin-top: 0px;
                }

                .buttons {
                    flex-wrap: wrap;
                    flex-direction: row;
                    .btn{
                        width: 40%;
                    }
                    .btn-web{
                        width: 40%;
                    }
                }

                .event-handlers {
                    margin-bottom: 0px;
                    .handler{
                        .logo-container{
                            img{
                                width: 80%;
                            }
                        }
                    }
                    .other-details{
                        margin-bottom: 20px;
                    }
                }

                .details-important{
                    left: 20px;
                    bottom: 20px;
                }

                .details {
                    bottom: 150px;
                }
            }
        }

        .dates-part {
            display: none;
        }
    }
}